dapxmlclient/GeosoftXml.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GeosoftXml" targetNamespace="http://geosoft.com/schema/GeosoftXml.xsd" elementFormDefault="qualified"
	xmlns="http://geosoft.com/schema/GeosoftXml.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GEOSOFT_XML">
		<xs:complexType>
         <xs:choice>
            <xs:element name="request" type="Request_Type" />
            <xs:element name="response" type="Response_Type" />
            <xs:element name="error" type="Error_Type"/>
         </xs:choice>
         <xs:attribute name="version" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Request_Type">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="catalog" type="CatalogRequest_Type" />
				<xs:element name="metadata" type="MetadataRequest_Type" />
				<xs:element name="GET_IMAGE" type="GET_IMAGE_REQUEST" />
				<xs:element name="EXTRACT" type="EXTRACT_REQUEST" />
				<xs:element name="EXTRACT_STATUS" type="EXTRACT_STATUS_REQUEST" />
				<xs:element name="EXTRACT_CANCEL" type="EXTRACT_CANCEL_REQUEST" />
				<xs:element name="TRANSLATE_COORDINATES" type="TRANSLATE_COORDINATES_REQUEST" />
				<xs:element name="TRANSLATE_BOUNDING_BOX" type="TRANSLATE_BOUNDING_BOX_REQUEST" />
				<xs:element name="GET_DEFAULT_RESOLUTION" type="GET_DEFAULT_RESOLUTION_REQUEST" />
				<xs:element name="GET_COORDINATE_SYSTEM_LIST" type="GET_COORDINATE_SYSTEM_LIST_REQUEST" />
			</xs:choice>
         <xs:attribute name="namespace" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RESPONSE">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="CATALOG" type="CATALOG_RESPONSE" />
				<xs:element name="METADATA" type="METADATA_RESPONSE" />
				<xs:element name="IMAGE" type="IMAGE_RESPONSE" />
				<xs:element name="EXTRACT" type="EXTRACT_RESPONSE" />
				<xs:element name="EXTRACT_STATUS" type="EXTRACT_STATUS_RESPONSE" />
				<xs:element name="TRANSLATE_COORDINATES" type="TRANSLATE_COORDINATES_RESPONSE" />
				<xs:element name="TRANSLATE_BOUNDING_BOX" type="TRANSLATE_BOUNDING_BOX_RESPONSE" />
				<xs:element name="DEFAULT_RESOLUTION" type="DEFAULT_RESOLUTION_RESPONSE" />
				<xs:element name="COORDINATE_SYSTEM_LIST" type="COORDINATE_SYSTEM_LIST_RESPONSE" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
   
   <xs:complexType name="Error_Type">
		<xs:attribute name="handle" type="xs:string" use="optional"/>
		<xs:attribute name="code" type="xs:string" use="optional"/>
	</xs:complexType>
	
   <xs:complexType name="Command_Type">
      <xs:attribute name="handle" type="xs:string" use="optional"/>
      <xs:attribute name="token" type="xs:string" use="optional"/>
   </xs:complexType>

   <xs:complexType name="CoordinateSystem_Type">
      <xs:attribute name="datum" type="xs:string"/>
      <xs:attribute name="projection" type="xs:string"/>
      <xs:attribute name="units" type="xs:string"/>
      <xs:attribute name="local_datum" type="xs:string"/>
      <xs:attribute name="esri" type="xs:string"/>
   </xs:complexType>
   
   <xs:complexType name="BoundingBox_Type">
      <xs:sequence>
         <xs:element name="coordinate_system" type="CoordinateSystem_Type"/>
      </xs:sequence>
      <xs:attribute name="maxX" type="xs:decimal"/>
      <xs:attribute name="maxY" type="xs:decimal"/>
      <xs:attribute name="minX" type="xs:decimal"/>
      <xs:attribute name="minY" type="xs:decimal"/>
   </xs:complexType>
   
   <xs:complexType name="CatalogRequest_Type">
      <xs:complexContent>
         <xs:extension base="Command_Type">
            <xs:all>
               <xs:element name="filter" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:attribute name="path" type="xs:string"/>
                     <xs:attribute name="depth" type="xs:integer"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="bounding_box" type="BoundingBox_Type"/>
            </xs:all>
            <xs:attribute name="count" type="xs:integer" use="optional" />
            <xs:attribute name="max_results" type="xs:integer" use="optional" />
            <xs:attribute name="index" type="xs:integer" use="optional" />
            <xs:attribute name="keywords" type="xs:string" use="optional" />
         </xs:extension>
      </xs:complexContent>      
	</xs:complexType>
   
	<xs:complexType name="MetadataRequest_Type">
      <xs:complexContent>
         <xs:extension base="Command_Type">
            <xs:attribute name="name" type="xs:string" />
         </xs:extension>
      </xs:complexContent>
	</xs:complexType>
	
   <xs:element name="GET_IMAGE_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="FORMAT">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string" />
						<xs:attribute name="transparent" type="xs:bool" use="optional" />
						<xs:attribute name="background" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
				<xs:element name="RESOLUTION">
					<xs:complexType>
						<xs:attribute name="height" type="xs:integer" />
						<xs:attribute name="width" type="xs:integer" />
					</xs:complexType>
				</xs:element>
				<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
				<xs:element name="LAYERS">
					<xs:complexType>
						<xs:all>
							<xs:element name="DATASET" type="DATASET" maxOccurs="unbounded" />
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="FORMAT">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
				<xs:element name="RESOLUTION">
					<xs:complexType>
						<xs:attribute name="value" type="xs:float" />
					</xs:complexType>
				</xs:element>
				<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
				<xs:element name="DATASET" type="DATASET"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_STATUS_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="key" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_CANCEL_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="key" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_GET_DATA_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="key" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSLATE_COORDINATES_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="INPUT">
					<xs:complexType>
						<xs:all>
							<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="OUTPUT">
					<xs:complexType>
						<xs:all>
							<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="POINT" type="POINT" maxOccurs="unbounded" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSLATE_BOUNDING_BOX_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="INPUT">
					<xs:complexType>
						<xs:all>
							<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="OUTPUT">
					<xs:complexType>
						<xs:all>
							<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
				<xs:element name="RESOLUTION">
					<xs:complexType>
						<xs:attribute name="value" type="xs:float" />
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="GET_DEFAULT_RESOLUTION_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="type" type="xs:string" />
			<xs:all>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="GET_COORDINATE_SYSTEM_LIST_REQUEST">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="list_type" type="xs:string" />
			<xs:attribute name="datum" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="CATALOG_RESPONSE">
		<xs:complexType>
			<xs:all maxOccurs="unbounded">
				<xs:element name="COLLECTION" type="COLLECTION"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLLECTION">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:all>
				<xs:element name="NODE">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="ITEM" type="ITEM"/>
							<xs:element name="COLLECTION" type="COLLECTION"/>
						</xs:choice>						
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITEM">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:all>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="METADATA_RESPONSE">
		<xs:complexType>
			<xs:all maxOccurs="unbounded">
				<xs:element name="CLASS" type="CLASS"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLASS">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:all>
				<xs:element name="NODE">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="ATTRIBUTE" type="ATTRIBUTE"/>
							<xs:element name="TABLE" type="TABLE"/>
							<xs:element name="CLASS" type="CLASS"/>
						</xs:choice>						
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTRIBUTE">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>			
		</xs:complexType>
	</xs:element>
	<xs:element name="TABLE">
		<xs:complexType>
			<xs:all>
				<xs:element name="ITEM">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
						<xs:all maxOccurs="unbounded">
							<xs:element name="ATTRIBUTE" type="ATTRIBUTE"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="IMAGE_RESPONSE">
		<xs:complexType>
			<xs:all>
				<xs:element name="PICTURE" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
		<xs:element name="EXTRACT_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="KEY">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>						
					</xs:complexType>
				</xs:element>
				<xs:element name="FORMAT">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
				<xs:element name="RESOLUTION">
					<xs:complexType>
						<xs:attribute name="value" type="xs:float" />
					</xs:complexType>
				</xs:element>
				<xs:element name="COORDINATE_SYSTEM" type="COORDINATE_SYSTEM" />
				<xs:element name="DATASET" type="DATASET"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_STATUS_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="key" type="xs:string" />
			<xs:all>
				<xs:element name="STATUS">
					<xs:complexType>
						<xs:attribute name="value" type="xs:string"/>
						<xs:attribute name="progress" type="xs:string" use="optional"/>
						<xs:attribute name="task" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXTRACT_DATA_RESPONSE" type="xs:string">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:attribute name="key" type="xs:string" />			
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSLATE_COORDINATES_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>				
				<xs:element name="POINT" type="POINT" maxOccurs="unbounded" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSLATE_BOUNDING_BOX_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>				
				<xs:element name="BOUNDING_BOX" type="BOUNDING_BOX" />
				<xs:element name="RESOLUTION" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="value" type="xs:float" />
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DEFAULT_RESOLUTION_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all>
				<xs:element name="RESOLUTION">
					<xs:complexType>
						<xs:attribute name="value" type="xs:float"/>						
					</xs:complexType>
				</xs:element>				
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="COORDINATE_SYSTEM_LIST_RESPONSE">
		<xs:complexType>
			<xs:attribute name="handle" type="xs:string" use="optional" />
			<xs:all minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ITEM">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="BOUNDING_BOX">
		<xs:complexType>
			<xs:attribute name="maxX" type="xs:float" />
			<xs:attribute name="maxY" type="xs:float" />
			<xs:attribute name="minX" type="xs:float" />
			<xs:attribute name="minY" type="xs:float" />
		</xs:complexType>
	</xs:element>
	<xs:element name="COORDINATE_SYSTEM">
		<xs:complexType>
			<xs:attribute name="datum" type="xs:string" />
			<xs:attribute name="projection" type="xs:string" use="optional" />
			<xs:attribute name="units" type="xs:string" use="optional" />
			<xs:attribute name="local_datum" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="DATASET">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="POINT">
		<xs:complexType>
			<xs:attribute name="x" type="xs:float" />
			<xs:attribute name="y" type="xs:float" />
			<xs:attribute name="z" type="xs:float" />
		</xs:complexType>
	</xs:element>
</xs:schema>
